{% extends "base.html" %}

{% block title %} My posts {% endblock %}

{% block content %}
    <div class="container">
        <h1>Your posts</h1>
            {% if posts %}
            <ul>
                {% for post in posts %}
                    <li>{{ post.title }} {{ post.content }}</li>
                    {% if post.file %}
                        <div>This is file. <a href="{{ post.file.url }}">Download</a></div>
                    {% endif %}
                    {% if post.image %}
                        <div><img src="{{ post.image.url }}" alt="Post image"></div>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
                <p>You haven't posted anything!</p>
            {% endif %}
    </div>
{% endblock %}
